
body {
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Hammersmith One', sans-serif;

}

.firstblock {
	background: url(../github.io/img/bc.png);
	padding-top: 15px;
   	height: 670px;
 
}

.secondblock {
	height: 403px;
}

.thirdblock {
	height: 550px;
	background: url(../img/bc1.png) ;
}

.fourthblock {
	height: 752px;
}

.fifthblock {
	height: 840px;
	background: url(../img/bc3.png) 100% 100% no-repeat;
	margin-bottom: 70px;
}

.sixthblock {
	height: 735px;
}

.seventhblock {
	height: 500px;
	background: url(../img/bc4.png) 100% 100% no-repeat;
}

.eighthblock {
	height: 650px;

}
/*Specification*/

.h1__pblack {
	font-weight: 900;
}

.h1__pbold {

}

.h1__rblack {

}


/*The first block*/
.container {
	max-width: 960px;
}

.header {
	padding-bottom: 180px;
	
}

.logotype p {
	position: absolute;
	left: 70px;
	top: 5px;
	font-size: 30px;
	color: #70D3E4;
	font-weight: 100;
	font-family: 'Roboto';
}

.logotype img {

}
.nav__items {
	font-size: 13px;
	padding-right: 28px;
	padding-left: 28px;
	margin-top: 10px;
}

#q1 {
	padding-right: 28px;
	padding-left: 28px;
	margin-top: 10px;
	white-space: nowrap;
}

li a {

	color: white;
	text-decoration: none;
}

.content h1 {
	font-size: 32px;
	font-family: 'Playfair Display';
	font-weight: 900;
	text-align: center;
	color: white;
	margin-bottom: 28px;
}

.content p {
	font-family: 'Roboto';
	font-weight: 300;
	color: white;
	font-size: 14px;	
	text-align: center;
	margin-top: 33px;	
}

button {

	margin: -20px -50px;
	position: relative;
 	top: 55px;
	left: 49%;
	font-size: 16px;
	font-family: 'Hammersmith One';
	color: #00E0D0;
	width: 120px;
	height: 40px;
	background-color: Transparent;
	border: 2px solid #00E0D0;
	border-radius: 2px;

}

/*The second block*/

.content1__img {
	margin-top: 70px;
	margin-bottom: 150px;
}

.content1__h1 {
	font-family: 'Playfair Display';
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 70px;
}

.content1__text {
	margin-top: 30px;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 14px;
}

/* The third block*/

.content2__imgbc {
	position: relative;
	left: 410px;
	top: 200px;
}

.content2 i {
	font-size: 50px;
	position: relative;
	left: 340px;
	top: 215px;
	color: white;
}

.content2__h1 {
	text-transform: uppercase;
	font-family: 'Roboto';
	font-weight: 900;
	color: white;
	font-size: 16px;
	text-align: center;
	position: relative;
	top: 220px;
}

/*The fourthblock*/

.content3__h1 {
	text-align: center;
	font-family: 'Playfair Display';
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 70px;
	font-size: 22px;
}

.content3__text {
	text-align: center;
	font-family: 'Playfair Display';
	font-family: 400;
	font-family: 14px;
}

.content3__section {
	margin-top: 85px;
	text-align: center;
	font-family: 'Roboto';

}

.content3__section h1 {
	font-weight: 900;
	font-size: 14px;
	margin-top: 35px;
	margin-bottom: 27px;
	text-transform: uppercase;
}

.content3__section p {
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 80px;
}

/*The fifth block*/

.content4__section {
	margin-top: 50px;
	text-align: center;
	font-family: 'Roboto'
}

.content4__section h1 {
	color: white;
	font-weight: 900;
	font-size: 14px;
	margin-top: 35px;
	margin-bottom: 27px;
	text-transform: uppercase;
}

.content4__section p {
	color: white;
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 25px;
	text-transform: uppercase;
}

.content4__text {
	margin-top: 70px;
	text-align: center;
	color: white;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 14px;
}

.content4 button {
	text-transform: uppercase;
	width: 140px; 
}

/*The sixth block*/
.content5__h1 {
	font-family: 'Playfair Display';
	font-weight: 700;
	font-size: 22px;
	text-transform: uppercase;
	white-space: nowrap;
	margin-bottom: 70px;

}

.content5__a {

	font-family: 'Roboto';
	font-weight: 300;
	font-size: 14px;
	text-transform: capitalize;
	color: grey;
	text-decoration: none;

}

.content5__img {
	width: 260px;
}

.con {
	max-width: 1300px;
}

.content5__btn {
	text-transform: uppercase;
	margin-top: 70px;
}

/* The seventh block*/
.content6__h1 {
	font-family: 'Playfair Display';
	font-size: 100px;
	text-align: center;
	margin-top: 20px;
	color: white;
}

.content6__text {
	font-family: 'Playfair Display';
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	margin-top: 45px;
	color: white;
	margin-bottom: 55px;
}

.content6__h2 {
	font-family: 'Roboto';
	font-weight: 900 ;
	font-size: 14px;
	text-align: center;
	color: white;
	text-transform: uppercase;
}

.content6__text2 {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 13px;
	text-align: center;
	color: white;
	text-transform: uppercase;
}

/* The eighth block */
.content7__h1 {
	margin-top: 70px;
	font-family: 'Playfair Display';
	font-weight: 700;
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 35px;
}
/*id*/

#btn1 {
	position: relative;
 	top: 35px;
	left: 50px;
}

#input {
	width: 460px;
	height: 42px;
	border: 1px solid #E5E5E5;
	border-radius: 2px;
	font-family: 'Roboto';
	font-weight: 300;

}

#input1 {
	width: 460px;
	height: 200px;
	border: 1px solid #E5E5E5;
	border-radius: 2px;
	font-family: 'Roboto';
	font-weight: 300;
}

#input__btn {
	height: 40px;
	width: 120px;
	border: 1px solid #E5E5E5;
	border-radius: 2px;
	font-family: 'Roboto';
	font-weight: 300;
}

